body {
    padding-top: 75px;
}
.btn-table {
    float: right;
}

#course-form {
    width: 400px;
    margin: 0px auto;
}

#course-form div {
    margin: 10px 0px;
    text-align: right;
}

#course-form input, #course-form select {
    width: 300px;
}